@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(200, 200, 200);
}

.home-indicator-3 {
  position: absolute;
  left: 127.00000000000011px;
  top: 8.0px;
  width: 139.0px;
  height: 5.0px;
  background-color: rgb(44, 25, 77);
  mix-blend-mode: normal;
  border-radius: 100.0px;
}

.home-indicator-2 {
  position: absolute;
  left: 1.1368683772161603e-13px;
  top: 831.0px;
  width: 393.0px;
  height: 21.0px;
  mix-blend-mode: normal;
}

.headline-4 {
  position: absolute;
  left: 32.000000000000114px;
  top: 170.0px;
  width: 154.0px;
  height: 58.0px;
  mix-blend-mode: normal;
  font-family: "Inter", sans-serif;
  font-size: 48.0px;
  font-weight: 700;
  letter-spacing: -0.96px;
  line-height: 57.60000228881836px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgb(53, 50, 64);
}

.headline-7 {
  position: absolute;
  left: 16.0px;
  top: 20.0px;
  width: 120.0px;
  height: 18.0px;
  mix-blend-mode: normal;
  font-family: "Inter", sans-serif;
  font-size: 15.0px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 18.0px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgb(53, 50, 64);
}

.frame-1321318734-6 {
  position: absolute;
  left: 0.0px;
  top: 0.0px;
  width: 329.0px;
  height: 58.0px;
  border-style: solid;
  border-width: 1.0px;
  border-color: rgb(214, 214, 214);
  mix-blend-mode: normal;
  display: flex;
  flex-direction: row;
  padding: 20.0px 16.0px 20.0px 16.0px;
  gap: 10.0px;
  align-items: center;
}

.headline-9 {
  position: absolute;
  left: 16.0px;
  top: 20.5px;
  width: 69.0px;
  height: 18.0px;
  mix-blend-mode: normal;
  font-family: "Inter", sans-serif;
  font-size: 15.0px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 18.0px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgb(191, 191, 191);
}

.frame-1321318735-8 {
  position: absolute;
  left: 0.0px;
  top: 58.0px;
  width: 329.0px;
  height: 59.0px;
  border-style: solid;
  border-width: 1.0px;
  border-color: rgb(214, 214, 214);
  mix-blend-mode: normal;
  display: flex;
  flex-direction: row;
  padding: 20.0px 16.0px 20.0px 16.0px;
  gap: 10.0px;
  align-items: center;
}

.frame-1321318736-5 {
  position: absolute;
  left: 32.000000000000114px;
  top: 252.0px;
  width: 329.0px;
  height: 117.0px;
  mix-blend-mode: normal;
  display: flex;
  flex-direction: column;
}

.label-text-11 {
  position: absolute;
  left: 50%;
  top: 12.0px;
  transform: translateX(-50%);
  width: auto;
  height: 22.0px;
  mix-blend-mode: normal;
  font-family: "Inter", sans-serif;
  font-size: 15.0px;
  font-weight: 600;
  letter-spacing: -0.15px;
  line-height: 22.0px;
  text-align: center;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.frame-10 {
  position: absolute;
  left: 16.000000000000114px;
  top: 662.0px;
  width: 361.0px;
  height: 46.0px;
  background: linear-gradient(90deg, rgb(149, 33, 139) 0.0%, rgb(58, 60, 179) 100.0%);
  backdrop-filter: blur(10.0px);
  mix-blend-mode: normal;
  display: flex;
  flex-direction: column;
  gap: 8.0px;
  justify-content: center;
  align-items: center;
  border-radius: 62.0px;
}

.label-text-13 {
  position: absolute;
  left: 50%;
  top: 12.0px;
  transform: translateX(-50%);
  width: auto;
  height: 22.0px;
  mix-blend-mode: normal;
  font-family: "Inter", sans-serif;
  font-size: 15.0px;
  font-weight: 600;
  letter-spacing: -0.15px;
  line-height: 22.0px;
  text-align: center;
  display: flex;
  align-items: center;
  color: rgb(53, 50, 64);
}

.frame-12 {
  position: absolute;
  left: 16.000000000000114px;
  top: 720.0px;
  width: 361.0px;
  height: 46.0px;
  background-color: rgb(225, 224, 230);
  backdrop-filter: blur(10.0px);
  mix-blend-mode: normal;
  display: flex;
  flex-direction: column;
  gap: 8.0px;
  justify-content: center;
  align-items: center;
  border-radius: 62.0px;
}

.headline-14 {
  position: absolute;
  left: 50%;
  top: 778.0px;
  transform: translateX(-50%);
  width: auto;
  height: 37.0px;
  mix-blend-mode: normal;
  font-family: "Inter", sans-serif;
  font-size: 13.0px;
  font-weight: 500;
  letter-spacing: -0.26px;
  line-height: 15.600000381469727px;
  text-align: center;
  display: flex;
  align-items: center;
  color: rgba(53, 50, 64, 0.800000011920929);
}

.frame-1 {
  position: relative;
  margin: 0 auto;
  width: 393.0px;
  height: 852.0px;
  border-radius: 32.0px;
  overflow: hidden;
  background-color: rgb(250, 250, 250);
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
